html,
body {
	--background-color: #121212;
	--foreground-color: #ffffff;
	--auxilary-color: #00ffb3;
	color: var(--foreground-color);
	background-color: var(--background-color);
	font-family: "Fira Code", monospace;
}

main {
	display: grid;
	grid-template-columns: auto auto;
}
#clock {
	text-align: center;
}
li {
	list-style: none;
	/* border: 0.1em solid var(--foreground-color); */
	border-radius: 1em;
}
li p {
	margin: 0.5em 0;
}
li h2 {
    margin-bottom: 0.2em;
}

a {
	color: var(--auxilary-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

ul {
	display: flex;
	flex-direction: row;
	width: 95vw;
	margin: 0 2vw;
	justify-content: space-between;
	padding: 0;
}